.sign-out-button {
    background: #f44336 !important;
    color: white;
    position: fixed !important;
    right: 2vh !important;
    top: 2vh !important;
    width: auto !important; /* Set width to auto to adjust to content */
    height: auto !important; /* Set height to auto to adjust to content */
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    z-index: 1000 !important;
}
