.professor-ratings-container {
    position: relative;
    background-color: #F5F5F5;
    scroll-snap-align: center;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2vw;
    display: flex;
    flex-direction: row; /* Keep it as row if that fits your layout */
    flex-wrap: wrap; /* Ensure wrapping of child elements */
    align-items: center;
    gap: 2vw;
    width: 50vw;
}

.professor-ratings {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 1vw;
    width: 100%; /* Full width to contain the cards */
}

.rating-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-basis: 11.3vw; /* Adjusting for the gap */
    padding: 2vw;
    text-align: center;
    width: 11.3vw; /* Adjusted for three cards per row */
    height: calc(12vh + 10vw);
    margin-bottom: 2vh; /* Space between rows */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.professor-name {
    margin-top: 0;
    color: #333;
}

.department {
    color: #666;
    font-style: italic;
}

.rating {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
