.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f0f0f0;
    color: #333;
}

.landing-container h1 {
    margin-bottom: 20px;
}

.landing-container button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ccc; /* Default color: grey */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.landing-container label {
    margin-bottom: 40px;
}

.major-buttons-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to form two rows */
    justify-content: center; /* Center the buttons */
}

.landing-container button.selected {
    background-color: #4caf50; /* Selected color: green */
}

.landing-container button.enabled {
    background-color: #4caf50; /* Enabled color: green */
    cursor: pointer;
}

.landing-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.landing-container button:hover:not(:disabled) {
    transform: scale(1.2);
}

.landing-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    text-align: center;
}

.popup p {
    margin-bottom: 10px;
}

.popup button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup button:hover {
    background-color: #45a049;
}

button {
    padding: 10px 20px;
    background-color: #4285F4; /* Google's brand color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ae8;
}