/* ChatTitle.css */

h1, h2 {
    text-align: center; /* Center the text */
}

h1 {
    margin: 0;
    font-size: 3vw; /* Larger font size for the main title */
}

h2 {
    margin: 0;
    font-size: 1.6vw; /* Slightly smaller font size for the subtitle */
}

/* Additional styling to ensure the ChatTitle takes up the top 15vh */
.chat-title-container {
    margin-top: 2vh;
    margin-bottom: 3vh;
    height: 10vh; /* Set the height of the container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
}
