.chat-window-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 40vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.timestamp {
    font-size: 0.8em;
    text-align: right;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
}
